---
import { cn } from "@/lib/utils/tailwind";

interface Props {
	href: string;
	heading: string;
	subheading?: string;
	class?: string;
}

const { href, heading, subheading, class: className } = Astro.props;
---

<a
	href={href}
	target="_blank"
	rel="noopener noreferrer"
	class={cn(
		"group hover:bg-muted/20 -mx-3 flex flex-col gap-y-1 rounded-lg px-3 py-3 transition-colors",
		className,
	)}
>
	<div class="flex items-center gap-2">
		<span class="font-medium">{heading}</span>
		<span
			class="iconify text-muted-foreground ri--external-link-line text-sm opacity-0 transition-opacity group-hover:opacity-100"
		></span>
	</div>
	{subheading && <p class="text-muted-foreground text-sm">{subheading}</p>}
</a>
