---
import Button from "@/components/Button.astro";
import ToolSection from "@/components/ToolSection.astro";
import PageLayout from "@/layouts/BaseLayout.astro";

const DESIGN = [
	{
		name: "Figma",
		description: "Design and Prototyping Tool",
		href: "https://www.figma.com/",
		iconPath: "figma",
	},
];

const PRODUCTIVITY = [
	{
		name: "Arc",
		description: "Browser",
		href: "https://arc.net/",
		iconPath: "arc",
	},
	{
		name: "Mozilla Firefox",
		description: "Browser",
		href: "https://www.firefox.com/en-US/",
		iconPath: "firefox",
	},
	{
		name: "Notion",
		description: "Note Taking",
		href: "https://www.notion.so/product",
		iconPath: "notion",
	},
	{
		name: "Raycast",
		description: "Extendable Launcher and Shortcuts",
		href: "https://www.raycast.com/",
		iconPath: "raycast",
	},
];

const DEVELOPMENT = [
	{
		name: "VS Code",
		description: "IDE",
		href: "https://code.visualstudio.com/",
		iconPath: "vscode",
	},
	{
		name: "JetBrains IDEs",
		description: "IDE",
		href: "https://www.jetbrains.com/",
		iconPath: "jetbrains",
	},
	{
		name: "Docker",
		description: "Containerization",
		href: "https://www.docker.com/",
		iconPath: "docker",
	},
	{
		name: "HTTPie",
		description: "Command Line HTTP Client",
		href: "https://httpie.io/",
		iconPath: "httpie",
	},
	{
		name: "ChatGPT",
		description: "AI",
		href: "https://chat.openai.com/",
		iconPath: "chatgpt",
	},
];
---

<PageLayout meta={{ title: "Tools" }}>
	<div class="w-full">
		<Button title="Back" href="/" style="button">
			<span class="iconify ri--arrow-left-long-line" slot="icon-before"></span>
		</Button>

		<div class="mt-5 flex w-full flex-col gap-y-10">
			<div>
				<h1 class="mb-1 text-2xl font-bold">Tools</h1>
				<p>Tools and software I use daily</p>
			</div>

			<ToolSection title="Design" tools={DESIGN} />
			<ToolSection title="Productivity" tools={PRODUCTIVITY} />
			<ToolSection title="Development" tools={DEVELOPMENT} />
		</div>
	</div>
</PageLayout>
