---
import { type CollectionEntry, render } from "astro:content";
import RelatedPost from "@/components/post/RelatedPost.astro";
import TOC from "@/components/post/TOC.astro";
import PostLayout from "@/layouts/BlogPost.astro";
import { getRelatedPosts } from "@/lib/utils/post";
import type { CollectionPosts } from "@/types";

type Props = {
	post: CollectionEntry<"post">;
};

export async function getStaticPaths() {
	try {
		const { getAllPosts } = await import("@/lib/utils/post");
		const posts = await getAllPosts();
		return posts.map((post: CollectionPosts) => ({
			params: { slug: post.slug },
			props: {
				post,
			},
		}));
	} catch (error) {
		console.error("Error generating static paths:", error);
		return [];
	}
}

const { post } = Astro.props;

const { Content, headings } = await render(post);
const relatedPosts = await getRelatedPosts(post.data.tags, post.data.title, 4);
---

<PostLayout post={post}>
	<div class:list={["relative mt-8 grid grid-cols-1"]}>
		{
			headings.length > 0 && (
				<aside class="fixed top-24 left-8 hidden w-1/6 xl:block">
					<TOC {headings} />
				</aside>
			)
		}

		<article class="w-full max-w-full space-y-12">
			<div class="custom-prose mx-auto">
				<Content />
			</div>
		</article>
	</div>
	<footer>
		<RelatedPost relatedPosts={relatedPosts} />
	</footer>
</PostLayout>
