---
import Heading from "@/components/ui/Heading.astro";
import Section from "@/components/ui/Section.astro";
import { cn } from "@/lib/utils";

interface Tool {
	name: string;
	description: string;
}

interface Props {
	showDescription?: boolean;
	class?: string;
	title: string;
	tools: Tool[];
	transitionDelay?: number;
}

const {
	showDescription,
	class: className,
	title,
	tools,
	transitionDelay,
	...props
}: Props = Astro.props;
---

<Section transitionDelay={transitionDelay}>
	<div
		class={cn(
			"grid grid-cols-1 gap-y-4 py-3 md:py-8 first:pt-0 md:grid-cols-4 md:gap-x-12"
		)}
		{...props}
	>
		<Heading
			as="h2"
			size="sm"
			weight="semibold"
			class="text-foreground/80 tracking-wider uppercase md:col-span-1"
		>
			{title}
		</Heading>
		<div class="md:col-span-3">
			<ul class={cn(`grid grid-cols-1 gap-3 sm:grid-cols-2`, className)}>
				{
					tools.map((tool) => (
						<li class="flex flex-col">
							<div class="flex flex-col">
								<Heading
									as="h3"
									size="sm"
									weight="medium"
									class="text-foreground font-medium"
								>
									{tool.name}
								</Heading>
								{showDescription && (
									<p class="text-muted-foreground mt-px text-xs leading-relaxed">
										{tool.description}
									</p>
								)}
							</div>
						</li>
					))
				}
			</ul>
		</div>
	</div>
</Section>
