---
import type { SkillCollection } from "@/types";

interface Props {
	skill: SkillCollection;
}

const { skill }: Props = Astro.props;
---

<li class="flex flex-col gap-y-2 md:gap-x-5 md:gap-y-0">
	<h3 class="font-medium">{skill.title}</h3>
	<span class="text-muted-foreground text-sm">{skill.description}</span>
</li>
