---
import siteConfig from "@/config/site-config";
---

    <footer
      class="w-full mt-18 pt-6 pb-8 text-sm flex flex-col gap-4 text-dark dark:text-white"
    >
      <hr class="w-full op-40">
      <div class="flex">
        <span class="op-40"
          >2018&nbsp;&mdash;&nbsp;Present&nbsp;&copy;&nbsp;{
            siteConfig.author
          }.</span
        >
      </div>
    </footer>