---
const { tag } = Astro.props;
---

<a
	aria-label={`View more blogs with the tag ${tag}`}
	class="inline-block before:content-['#'] hover:underline hover:underline-offset-4"
	data-pagefind-filter="tag"
	href={`/tags/${tag}/`}
>
	{tag}
</a>
