---
import Button from "@/components/Button.astro";
import PageLayout from "@/layouts/BaseLayout.astro";
---

<PageLayout
	title="404 - Not Found"
	description="The page you are looking for does not exist."
	pageType="website"
>
	<div class="px-4 py-10 text-center sm:px-6 lg:px-8">
		<h1 class="block text-7xl font-bold sm:text-9xl">404</h1>
		<p class="text-muted-foreground mt-3">Oops, something went wrong.</p>
		<p class="">Sorry, we couldn't find your page.</p>
		<Button title="Back to home" href="/" style="button" class="mt-5">
			<span class="iconify ri--arrow-right-long-line" slot="icon-after"></span>
		</Button>
	</div>
</PageLayout>
