---
import Button from "@/components/ui/Button.astro";
import Heading from "@/components/ui/Heading.astro";
import PageLayout from "@/layouts/BaseLayout.astro";
---

<PageLayout
	title="404 - Not Found"
	description="The page you are looking for does not exist."
	pageType="website"
>
	<div class="px-4 py-10 text-center sm:px-6 lg:px-8">
		<Heading class="text-7xl sm:text-9xl" weight="bold">404</Heading>
		<p class="text-muted-foreground mt-3">Oops, something went wrong.</p>
		<p class="">Sorry, we couldn't find your page.</p>
		<Button title="Back to home" href="/" style="button" class="mt-5">
			<span class="iconify ri--arrow-right-long-line" slot="icon-after"></span>
		</Button>
	</div>
</PageLayout>
