---
import About from "@/components/features/home/About.astro";
import Hero from "@/components/features/home/Hero.astro";
import Posts from "@/components/features/home/Posts.astro";
import Section from "@/components/ui/Section.astro";
import PageLayout from "@/layouts/BaseLayout.astro";
import { getAllPosts } from "@/lib/contents";

const MAX_POSTS = 5;
const allPosts = await getAllPosts(MAX_POSTS);
---

<PageLayout
	title="Home of Khoirul Fattah"
	description="Explore the personal website of Khoirul Fattah: full-stack projects, technical writing, reflective stories, and practical notes on building better software."
	pageType="website"
>
	<div class="flex w-full flex-col gap-y-12">
		<Section
			title="Ahmad Musafir Khoirul Fattah"
			titleAs="h1"
			titleSize="2xl"
			titleWeight="semibold"
			transitionDelay={150}
		>
			<Hero />
		</Section>

		<Section title="About" titleAs="h2" titleUppercase transitionDelay={150}>
			<About />
		</Section>

		<Section
			title="Latest Posts"
			titleAs="h2"
			titleUppercase
			transitionDelay={300}
		>
			<Posts posts={allPosts} />
		</Section>
	</div>
</PageLayout>
