---
import About from "@/components/sections/home/About.astro";
import Contact from "@/components/sections/home/Contact.astro";
import Hero from "@/components/sections/home/Hero.astro";
import Posts from "@/components/sections/home/Posts.astro";
import PageLayout from "@/layouts/BaseLayout.astro";
import { getPosts } from "@/lib/utils";

const MAX_POSTS = 5;
const allPosts = await getPosts(undefined, "post", MAX_POSTS);
---

<PageLayout
	title="Home"
	description="Welcome to my personal website. Here you can find information about me, my projects, and my experiences."
	pageType="website"
>
	<div class="flex w-full flex-col gap-y-12">
		<Hero />
		<About />
		<Posts posts={allPosts} />
		<Contact />
	</div>
</PageLayout>
