---
import ToolSection from "@/components/ToolSection.astro";
import PageLayout from "@/layouts/BaseLayout.astro";

import TOOLS from "@/lib/constants/tools";
---

<PageLayout
	title="Tools"
	description="Explore the tools and software I use daily to enhance my productivity and creativity."
	pageType="website"
>
	<div class="flex w-full flex-col gap-y-10">
		<div>
			<h1 class="mb-2 text-2xl font-semibold">Tools</h1>
			<p class="text-muted-foreground">Software and hardware I use daily.</p>
		</div>

		{TOOLS.map((tool) => <ToolSection title={tool.title} tools={tool.tools} />)}
	</div>
</PageLayout>
