---
type Props = {
	fallbackUrl?: string;
};

const { pathname } = Astro.url;

const parentPath = pathname.split("/").slice(0, -1).join("/") || "/";

const finalFallbackUrl = Astro.props.fallbackUrl || parentPath;
---

<div>
  <span class="op50 font-mono text-xl">></span>
  <button
    class="nav-link underline"
    aria-label="Kembali ke halaman sebelumnya"
    id="cd-back-button"
  >
    cd ..
  </button>
</div>

<script define:vars={{ fallbackUrl: finalFallbackUrl }} is:inline>
  document.getElementById('cd-back-button').addEventListener('click', () => {
    if (history.length > 1) {
      history.back();
    } else {
      window.location.href = fallbackUrl;
    }
  });
</script>