---
import { cn } from "@/lib/utils";

interface Props {
	class?: string;
	title: string;
}

const { class: className, title }: Props = Astro.props;
---

<section class={cn(className, "flex flex-col gap-y-4")}>
	<h2 class="text-muted-foreground font-medium tracking-wider uppercase">{title}</h2>
	<div class="flex flex-col gap-y-3">
		<slot />
	</div>
</section>
