---
import ProjectsList from "@/components/projects/ProjectList.svelte";
import Layout from "@/layouts/Layout.astro";
import { projectData } from "@/lib/constants/projects";
---

<Layout title="Projects" description="List of projects that I am proud of">
  <h1 class="nav-link text-3xl font-semibold opacity-80 mb-8">Projects</h1>
  <div mb-16 sm:mb-24>
    {
      projectData.length > 0 && (
        <div>
          {projectData.map((projectCategory) => (
            <div mb-10>
              <h2 class="pointer-events-none relative h20 select-none">
                <span class="absolute top-0 text-3.2em color-transparent font-bold text-stroke-1.5 text-stroke-hex-aaa op35 dark:op20">
                  {projectCategory.title}
                </span>
              </h2>
              <ProjectsList projects={projectCategory.projects} />
            </div>
          ))}
        </div>
      )
    }
  </div>
</Layout>
