---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getReadTimeCount } from "@/lib/utils";
import FormattedDate from "../FormattedDate.astro";
import Tag from "../layout/Tag.astro";

interface Props {
	content: CollectionEntry<"post">;
}

const { content } = Astro.props;

const dateTimeOptions: Intl.DateTimeFormatOptions = {
	month: "long",
};
---

<header class="flex flex-col items-center justify-center gap-4">
	<div class="flex flex-col gap-2">
		<div class="flex items-center justify-center gap-x-1 text-xs">
			<p class="text-opacity-50 text-center">
				Published <FormattedDate
					date={new Date(content.data.date)}
					dateTimeOptions={dateTimeOptions}
				/>
			</p>
			&mdash;
			<p class="text-opacity-50 text-center font-semibold">
				{getReadTimeCount(content.body!)} min read
			</p>
		</div>
		<h1 class="text-center text-2xl font-semibold md:pb-2.5 md:text-4xl">
			{content.data.title}
		</h1>
	</div>

	<div class="flex flex-wrap items-center justify-center gap-2 gap-y-4 md:gap-5">
		{content.data.tags.map((tag) => <Tag tag={tag} />)}
	</div>
</header>

<>
	{
		content.data.coverImage && (
			<Image
				src={content.data.coverImage.src}
				width={1000}
				height={500}
				quality={100}
				format="jpg"
				loading="eager"
				class="my-8 max-h-[300px] w-full rounded-md object-cover md:max-h-[500px]"
				alt={content.data.coverImage.alt || content.data.title}
			/>
		)
	}
</>

<hr class="mt-6" />
