---
import type { CollectionEntry } from "astro:content";
import type { HTMLTag, Polymorphic } from "astro/types";

import FormattedDate from "../FormattedDate.astro";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
};

const { as: Tag = "div", post, withDesc = false } = Astro.props;
const postDate = post.data.date;
---

<li class="flex flex-col gap-1 sm:flex-row sm:gap-x-6 [&_q]:basis-full">
	<FormattedDate class="text-muted-foreground min-w-[120px] text-sm" date={postDate} />

	<Tag class="flex flex-col gap-1">
		{post.data.draft && <span class="text-red-500">(Draft) </span>}
		<a
			data-astro-prefetch
			href={`/blog/${post.slug}`}
			class="hover:text-muted-foreground transition-all"
		>
			<h3 class="text-base leading-snug font-medium">{post.data.title}</h3>
			{
				withDesc && (
					<p class="text-muted-foreground mt-1 line-clamp-2 text-sm leading-relaxed">
						{post.data.description}
					</p>
				)
			}
		</a>
	</Tag>
</li>
