---
import type { TocItem } from "@/lib/utils";

interface Props {
	heading: TocItem;
}

const {
	heading: { depth, slug, subheadings, text },
} = Astro.props;
---

<li class={`relative ${depth > 2 ? "ms-4" : ""}`}>
	<a
		aria-label={`Scroll to section: ${text}`}
		class:list={[
			"toc-link relative block transition-colors",
			"py-1 text-sm",
			"text-foreground/40 hover:text-foreground",
		]}
		href={`#${slug}`}>{text}</a
	>
	{
		!!subheadings.length && (
			<ul>
				{subheadings.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ul>
		)
	}
</li>

<style>
	.toc-link.active {
		color: var(--color-foreground);
	}
</style>
