---
import { Image } from "astro:assets";

import avatar from "@/assets/images/avatar.png";
import Label from "@/components/Label.astro";
import Status from "@/components/Status.astro";
---

<section class="flex flex-col items-center gap-y-7">
	<Image
		src={avatar}
		alt="profile photo"
		class="h-32 w-auto rounded-full bg-[#FFBE98] p-2"
		loading="eager"
	/>

	<div class="flex flex-col items-center gap-y-4">
		<h1 class="text-3xl font-bold">Khoirul Fattah</h1>
		<!-- <Status /> -->

		<div class="flex flex-col justify-center gap-x-7 gap-y-3 md:flex-row">
			<Label title="Software Developer">
				<span class="iconify ri--code-s-slash-line" slot="icon"></span>
			</Label>
			<Label title="Surabaya, Indonesia">
				<span class="iconify ri--map-pin-2-line" slot="icon"></span>
			</Label>
			<Label
				title="Connect on Linkedin"
				as="a"
				href="https://www.linkedin.com/in/masmuss"
				target="_blank"
			>
				<span class="iconify ri--linkedin-box-line" slot="icon"></span>
			</Label>
		</div>
	</div>
</section>
