---
import ProjectCard from "@/components/projects/ProjectCard.astro";
import Section from "@/components/Section.astro";
import type { Project } from "@/types";

interface Props {
	projects: Project[];
}

const { projects }: Props = Astro.props;
---

<Section title="Projects">
	<div class="flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0">
		{
			projects.map((project) => (
				<ProjectCard
					href={project.href}
					heading={project.text}
					subheading={project.description}
					imagePath="/src/assets/images/coming-soon.png"
					altText={project.text}
					class="w-full sm:w-1/2"
				/>
			))
		}
	</div>
	<div class="w-full flex justify-end items-end">
		<a href="/projects" class="flex items-center gap-x-2">
			<span>See all projects</span>
			<span class="iconify ri--arrow-right-long-line"></span>
		</a>
	</div>
</Section>
