---
import { cn } from "@/lib/utils";

interface Props {
	class?: string;
}

const { class: className }: Props = Astro.props;
---

<p
	data-slot="card-description"
	class={cn("text-muted-foreground text-sm", className)}
>
	<slot />
</p>
