---
import { cn } from "@/lib/utils";

interface Props {
	class?: string;
}

const { class: className }: Props = Astro.props;
---

<div class={cn("px-4 group-data-[size=sm]/card:px-3", className)}>
	<slot />
</div>
