---
import { ClientRouter, fade } from "astro:transitions";
import BaseHead from "@/components/layout/BaseHead.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";

const { ...head } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead {...head} />
		<ClientRouter />
	</head>
	<body class="bg-background flex justify-center antialiased transition-all">
		<ThemeProvider />
		<main
			class="mx-auto flex min-h-screen w-screen max-w-2xl flex-col items-center px-5 leading-relaxed md:max-w-4xl lg:px-0"
			transition:animate={fade({ duration: 300 })}
		>
			<Header />
			<slot />
			<Footer />
		</main>
	</body>
</html>
