---
import { fade } from "astro:transitions";
import { ClientRouter } from "astro:transitions";
import BaseHead from "@/components/layout/BaseHead.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.svelte";
import ScrollToTop from "@/components/layout/ScrollToTop.svelte";
import Logo from "@/assets/Logo.svelte";

const { ...head } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead {...head}/>
    <ClientRouter/>
</head>
<body class="bg-dot relative min-h-screen w-full font-sans bg-main text-main">
<Header client:load/>
<div class="absolute top-7 left-6 z-999 fixed hidden md:block">
    <a aria-label="Header Logo" href="/">
        <Logo/>
    </a>
</div>

<main
        class="relative mx-auto max-w-3xl grow px-6 pb-16 pt-26 sm:pt-36"
        transition:animate={fade({duration: 300})}
>

    <slot/>
    <ScrollToTop client:load/>
    <Footer/>
</main>
</body>
</html>
