---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/lib/utils";
import Heading from "./Heading.astro";

interface Props extends HTMLAttributes<"section"> {
	class?: string;
	as?: keyof HTMLElementTagNameMap;
	title?: string;
	titleAs?: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
	titleSize?:
		| "6xl"
		| "5xl"
		| "4xl"
		| "3xl"
		| "2xl"
		| "xl"
		| "lg"
		| "base"
		| "sm";
	titleWeight?: "bold" | "semibold" | "medium" | "light";
}

const {
	class: className,
	as: SectionTag = "section",
	title,
	titleAs = "h2",
	titleSize = "base",
	titleWeight = "medium",
	...attrs
}: Props = Astro.props;
---

<SectionTag class={cn(className, "flex flex-col gap-y-4")} {...attrs}>
	{
		title && (
			<Heading
				as={titleAs}
				size={titleSize}
				weight={titleWeight}
				class="text-muted-foreground font-medium tracking-wider uppercase"
			>
				{title}
			</Heading>
		)
	}
	<div class="flex flex-col gap-y-3">
		<slot />
	</div>
</SectionTag>
