---
import Button from "@/components/ui/Button.astro";
---

<theme-toggle class="ms-2 sm:ms-4">
	<Button
		as="button"
		variant="ghost"
		size="icon-sm"
		class="text-muted-foreground hover:text-foreground"
		aria-label="Toggle Dark Mode"
	>
		<span class="iconify ri--sun-line dark:hidden"></span>
		<span class="iconify ri--moon-line hidden dark:inline-block"></span>
	</Button>
</theme-toggle>

<script>
	import { rootInDarkMode } from "@/lib/utils/domElement";

	class ThemeToggle extends HTMLElement {
		constructor() {
			super();
			const button = this.querySelector<HTMLButtonElement>("button");

			if (button) {
				// set aria role value
				button.setAttribute("role", "switch");
				button.setAttribute("aria-checked", String(rootInDarkMode()));

				// button event
				button.addEventListener("click", () => {
					// invert theme
					let themeChangeEvent = new CustomEvent("theme-change", {
						detail: {
							theme: rootInDarkMode() ? "light" : "dark",
						},
					});
					// dispatch event -> ThemeProvider.astro
					document.dispatchEvent(themeChangeEvent);

					// set the aria-checked attribute
					button.setAttribute("aria-checked", String(rootInDarkMode()));
				});
			} else {
				console.warn("Theme Toggle: No button found");
			}
		}
	}

	customElements.define("theme-toggle", ThemeToggle);
</script>
